public/assets/*

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/.bundle
/vendor/bundle

# Ignore Byebug command history file.
.byebug_history

# Ignore node_modules
node_modules/

ecs_rails6_app_demo_user_credentials.csv
